<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Little Blue Gopher</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
<section class="page">
    <h1>{{.Title}}</h1>
    {{range .Paragraphs}}
    <p>{{.}}</p>
    {{end}}
    {{if .Options}}
    <ul>
    {{range .Options}}
        <li><a href="/{{.Arc}}">{{.Text}}</a></li>
    {{end}}
    </ul>
    {{else}}
    <h3>The End</h3>
    {{end}}
</section>
</body>
</html>